@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Suez+One&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Vollkorn";
    font-size: 30px;
}

.container {
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
}

/* formatação geral */
h1,
h2,
h3,
h4 {
    font-family: "Suez One";
}

.hero {
    background: #f6f6f6;
    color: #3d537c;
    font-size: 30px;
    padding: 210px 0;
    text-align: center;
}

.hero-subtitle {
    font-weight: bold;
}

.hero-title {
    font-size: 150px;
}

.hero-text {}

/* formatação dos blocos */
.content-block {
    display: flex;
    justify-content: space-between;
}

.direction-coluna {
    flex-direction: column;
}

.reverse {
    flex-direction: row-reverse;
}

.content-block h2 {
    font-size: 60px;
}

.content-wrapper {
    width: 50%;
}

/* celular */
@media (max-width: 768px){
    .hero-title {
        font-size: 54px;
    }
    .content-block{
        padding: 0 24px;
        flex-direction: column;
    }
    .content-wrapper {
        width: 100%;
    }
}

/* tablet em retrato*/
@media (min-width: 768px) and (max-width: 900px){
    .hero-title {
        color: red;
    }
}